<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>AQI</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Air Quality Index</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	
        
        <label for="temp">Average Temperature</label><br>
        <input type="text" id="temp" style="width:400px; height:20px;" name="avg_temp" placeholder="average temperature c eg. 28" required="required" /><br>
        <br>
        <label for="atm">Atmospheric Pressure</label><br>
        <input type="text" id="atm" style="width:400px; height:20px;" name="atm_pres" placeholder="Atmospheric pressure at sea level mbar eg. 1018" required="required" /><br>
        <br>
        <label for="hum">Average Humidity</label><br>
        <input type="text" id="hum" style="width:400px; height:20px;" name="humidity" placeholder="average humidity % eg. 65" required="required" /><br>
        <br>
        <label for="ws">Average Wind Speed</label><br>
        <input type="text" id="ws" style="width:400px; height:20px;" name="wind_speed" placeholder="average wind speed mph % eg. 2.5" required="required" /><br>
        <br>
        <label for="vis">Average Visibility</label><br>
        <input type="text" id="vis" style="width:400px; height:20px;" name="avg_visibility" placeholder="average visibility mi % eg. 4.1" required="required" /><br>
	<br>	
        <label for="sws">Maximum Sustainable Wind Speed</label><br>
        <input type="text" id="sws" style="width:400px; height:20px;" name="sus_windspeed" placeholder="maximum sustainable wind speed mph % eg. 8.2" required="required" /><br>
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>